footer.footer 
  .footer__log 
    img(src='img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='#') About us  
    li: a(href='#') Download apps
    li: a(href='#') Become guide
    li: a(href='#') Careers
    li: a(href='#') Contact
  p.footer__copyright &copy Feel Free to use this project for your own purpose, Except producing your own course or tutrials.